/**{
  outline: solid green;
}*/

body {
  background: blanchedalmond;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  padding: 1em;
}

.a{
  width: 100%;
  line-height: 10;
  border: 5px solid lightblue;
  margin-bottom: 15px;
}

.b{
  width: 100%;
  line-height: 30;
  border: 5px solid lightblue;
  margin-bottom: 15px;
}

.c{
  width: 100%;
  line-height: 10;
  border: 5px solid lightblue;
  margin-bottom: 5px;

}


@media (min-width: 600px){
  
  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }
  
  .b{
    width: 72%;
    margin-bottom: 0;
    margin-left: 0;
    
  }

  .c{
    width: 23%;
    margin-bottom: 0;
    margin-right: 0;
  }
  
}